# -----------------------------

# Python

# -----------------------------

**pycache**/
*.py[cod]
*$py.class

# Virtual Environment

venv/
env/
ENV/
.venv/



instance/
.webassets-cache/

# Environment variables

.env
.env.*



*.log
logs/



.DS_Store
Thumbs.db



.vscode/
.idea/
*.swp
*.swo



build/
dist/
*.egg-info/



node_modules/
package-lock.json
yarn.lock



.coverage
htmlcov/
.pytest_cache/



*.sqlite3
*.db
*.bak
*.tmp
